body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(224, 221, 223);
}

h5 {
  font-weight: normal;
  padding-bottom: 0.5rem;
}
h2 {
  margin: 0;
  font-weight: normal;
  text-align: center;
  color: snow;
}

/* responsive */

@media (min-width: 600px) {
  .App {
    max-width: 500px;
    margin: 0 auto;
  }
}

@media (min-width: 320px) {
  .App {
    max-width: 290px;
    margin: 0 auto;
  }
}

@media (min-width: 600px) {
  .App {
    max-width: 500px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .App {
    max-width: 668px;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .App {
    max-width: 792px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .App {
    max-width: 1000px;
    margin: 0 auto;
  }
}
