body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(224, 221, 223);
}

h5 {
  font-weight: normal;
  padding-bottom: 0.5rem;
}
h2 {
  margin: 0;
  font-weight: normal;
  text-align: center;
  color: snow;
}

.App {
  max-width: 1000px;
  margin: 0 auto;
}
